<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Global settings-->
    <add key="PartitionKeyProperty" value="/myPartitionKey" />
    <add key="PartitionKeyValue" value="1001" />
    <add key="database" value="demo" />
    <add key="container" value="customers" />
    <add key="storedproc" value="spBulkUpload" />

    <!--Single Multi Region Demo -->
    <add key="SingleRegionEndpoint" value="https://mjb-latency-single-region.documents.azure.com:443/" />
    <add key="SingleRegionKey" value="725EzRraPNMDBLjwCVgzgLQmlEcIW6Pmxu2WVNClRjS0YRA4AOg8MgOrfWV4o5TPi9ZPtFSznOYYjYXrKlfzJQ==" />
    <add key="SingleRegionRegion" value="Southeast Asia" />
    <add key="MultiRegionEndpoint" value="https://mjb-latency-multi-region.documents.azure.com:443/" />
    <add key="MultiRegionKey" value="EE4jbEAmUtNfHCCJBE4okGo38CDGhnXRL1JHDa5bhhg1uvULQAg7R00TDn2xYk4fDuV6wYQq1bbR4JkhrACOiA==" />
    <add key="MultiRegionRegion" value="West US 2" />

    <!--Consistency Demo -->
    <add key="EventualEndpoint" value="https://mjb-consistency-eventual.documents.azure.com:443/" />
    <add key="EventualKey" value="P9befsbk0Ae0n02CYcN0VTJXnNnxvySbkT1Ksy8poWCPZAbpTZJFsEkl4VT9ajC6oTu59NJdOOVFBr9pptGvCA==" />
    <add key="Strong1kMilesEndpoint" value="https://mjb-consistency-strong.documents.azure.com:443/" />
    <add key="Strong1kMilesKey" value="ywWkXq2obRAS2SLpURUPEHvqP4UHTBxIsyDOBKwHKFyy5mLfGoAOXzp2mlIxOLq0nojU1cRvFS2a8QQaV2WxeA==" />
    <add key="Strong2kMilesEndpoint" value="https://mjb-consistency-strong2.documents.azure.com:443/" />
    <add key="Strong2kMilesKey" value="FlLNXgg1EYqM5v3uJFxbinWp1qBav9EpGvgXx8xu8X8JMsZ1P1LMsQvsC3lwOEPjv7LQPdLEosJt7Eyr91OOPg==" />
    <add key="ConsistencyLatencyRegion" value="West US 2" />

    <!-- Custom Synchronization Demo -->
    <add key="CustomSyncEndpoint" value="https://mjb-custom-synch.documents.azure.com:443/" />
    <add key="CustomSyncKey" value="mIjX4eqcSoqg3TCnN4niVAACNUFUEg2dEMJ13LGPvRMmLodZmiyekk67rkZB8cXuSZFupijUkclVmTUgfDYOmg==" />
    <add key="StrongEndpoint" value="https://mjb-strong-multimaster.documents.azure.com:443/" />
    <add key="StrongKey" value="qgyXddRXo8Iolxkm2C420YOYzvbLqlYV1fOpcKQlMj6NhFmkw0i1OsUYpo5zTzFfDFiOO9CseNYSnTj3xXjxfA==" />
    <add key="WriteRegion" value="West US 2" />
    <add key="ReadRegion" value="West US" />

    <!--Single Multi Master Demo -->
    <add key="SingleMasterEndpoint" value="https://mjb-single-master.documents.azure.com:443/" />
    <add key="SingleMasterKey" value="AfyY81DMg5enMdtHC2Kxo8wwovvKfEnHnJoVTMydWtEuQPxK3Nnux5kIlZp8bpiwlCyicyCbidHJT4wQzUUxQQ==" />
    <add key="MultiMasterEndpoint" value="https://mjb-multi-master.documents.azure.com:443/" />
    <add key="MultiMasterKey" value="3weJp6biVwAe6FRpUOkZEMhFwhpzRQxlvGp9bFddEEtj0PQf5CaXCNVi3tGs1W9rIaN56OfOSlWZOgPWgRJSwA==" />
    <add key="SingleMultiMasterRegion" value="West US 2" />

    <!--Conflict Resolution Demo-->
    <add key="LwwPolicyContainer" value="customersLwwPolicy" />
    <add key="NoPolicyContainer" value="customersNoPolicy" />
    <add key="ConflictRegions" value="North Europe;East US 2;West US 2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>