<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="..\..\secrets.config">
    <!-- Global settings-->
    <add key="PartitionKeyProperty" value="/myPartitionKey" />
    <add key="PartitionKeyValue" value="1001" />
    <add key="database" value="demo" />
    <add key="container" value="customers" />
    <add key="storedproc" value="spBulkUpload" />

    <!--Single Multi Region Demo -->
    <add key="SingleRegionEndpoint" value="FILL-ME" />
    <add key="SingleRegionKey" value="FILL-ME" />
    <add key="SingleRegionRegion" value="Southeast Asia" />
    <add key="MultiRegionEndpoint" value="FILL-ME" />
    <add key="MultiRegionKey" value="FILL-ME" />
    <add key="MultiRegionRegion" value="West US 2" />

    <!--Consistency Demo -->
    <add key="EventualEndpoint" value="FILL-ME" />
    <add key="EventualKey" value="FILL-ME" />
    <add key="Strong1kMilesEndpoint" value="FILL-ME" />
    <add key="Strong1kMilesKey" value="FILL-ME" />
    <add key="Strong2kMilesEndpoint" value="FILL-ME" />
    <add key="Strong2kMilesKey" value="FILL-ME" />
    <add key="ConsistencyLatencyRegion" value="West US 2" />

    <!-- Custom Synchronization Demo -->
    <add key="CustomSyncEndpoint" value="FILL-ME" />
    <add key="CustomSyncKey" value="FILL-ME" />
    <add key="StrongEndpoint" value="FILL-ME" />
    <add key="StrongKey" value="FILL-ME" />
    <add key="WriteRegion" value="West US 2" />
    <add key="ReadRegion" value="West US" />

    <!--Single Multi Master Demo -->
    <add key="SingleMasterEndpoint" value="FILL-ME" />
    <add key="SingleMasterKey" value="FILL-ME" />
    <add key="MultiMasterEndpoint" value="FILL-ME" />
    <add key="MultiMasterKey" value="FILL-ME" />
    <add key="SingleMultiMasterRegion" value="West US 2" />

    <!--Conflict Resolution Demo-->
    <add key="LwwPolicyContainer" value="customersLww" />
    <add key="UdpPolicyContainer" value="customersUdp" />
    <add key="NoPolicyContainer" value="customersNone" />
    <add key="ConflictRegions" value="North Europe;East US 2;West US 2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>